:root {
	--header-color:#3a3a3a;
	--background-color:#5a5a5a;
	--background-hover-color:#3a3a3a;
	--default-color:#aaa;
}

#sortList {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:var(--background-color);
}

#sortList li a {
	font-size:20px;
	display:block;
	color:white;
	text-align:center;
	padding:10px 20px;
	text-decoration:none;
}

#sortList li a:hover {
	/*	font-size:24px;
	padding:8px 20px 7px 20px;*/
	background-color:var(--background-hover-color);
}

table, tr, td {
	border:1px black none;
	border-collapse:collapse;
	background-color:var(--default-color);
}

td {
	padding:0;
}

li {
	list-style-type:none;
	text-align:left;
}

.name {
	font-weight:bold;
	font-size:24px;
}

.price {
	font-size:15px;
}

.type {
	font-size:12px;
}

.description {
	font-style:italic;
	font-size:15px;
}

td ul {
	padding:0px 10px;
}

td ul li {
	text-align:center;
}

button:hover {
	cursor:pointer;
}

.sort_br {
	background-color:var(--background-color);
	color:white;
	height:40px;
	font-size:30px;
	padding:10px;
	font-weight:bold;
	text-align:center;
}

header {
	background-color:var(--header-color);
	color:white;
	text-align:center;
	font-size:50px;
	padding:10px;
	font-weight:bold;
}

footer {
	background-color:var(--header-color);
	color:white;
	text-align:right;
	font-style:italic;
	font-size:12px;
	padding:3px 20px;
}

#main {
	display:flex;
	height:786px;
	flex-direction:row;
}

#sort-selection {
	flex:1;
	display:flex;
}

#main-content {
	width:967px;
	display:flex;
	flex-direction:column;
}

#etc {
	flex:3;
	display:flex;
	flex-direction:column;
}

#menu-list {
	flex:7;
	overflow-y:scroll;
	scroll-behavior:smooth;
}

#order-list {
	flex:3;
	overflow-y:auto;
}

#chat {
	flex:7;
	display:flex;
	flex-direction:row;
}

#submit-area {
	flex:3;
	display:flex;
}

.fill {
	flex:1;
}

.container {
	position:relative;
	width:300px;
	height:300px;
}

.overlay {
	position:absolute;
	top:55%;
	left:0;
	width:100%;
	height:40%;
	background-color:rgba(0, 0, 0, 0.5);
}

.info-text {
	margin:0;
	color:white;
}

.img_container {
	height:300px;
	width:300px;
	overflow:hidden;
}

img {
	transition:transform 0.3s;
}

img:hover {
	transform:scale(1.1);
}


#submit-area {
	display:flex;
	flex-direction:column;
}

#totalPrice {
	flex:1;
	text-align:center;
}

#submit-button {
	flex:5;
}

#order-list table, #order-list tr, #order-list td, #order-list th {
	background-color:white;
	text-align:left;
	padding:0px 20px;
}

#order-list th {
	background-color:var(--background-color);
	color:white;
}

#order-list tr {
	border-collapse:collapse;
	border:1px black;
	border-style:solid none;
}


#order-list th:nth-child(1) {
	width:50%;
}

#order-list th:nth-child(2) {
	width:30%;
}

#order-list th:nth-child(3) {
	width:10%;
}

