table {
	border:solid 1px black;
	border-collapse:collapse;
}

tr {
	border:solid 1px black;
}

td {
        border:none 1px black;
        padding:3px 10px;
        text-align:center;
	float:center;
	width:5%
}

.id {
	border:solid 1px black;
}

.id , .type {
	width:7%;
}

.name , .price {
	width:13%;
}

.description {
	width:30%;
}

.img_src {
	width:15%;
}
.reg_time {
	width:10%;
}
.etc {
	width:5%;
}

textarea {
	width:100%;
	text-align:center;
}

input {
	width:100%;
	text-align:center;
}

.etc {
	width:5%;
	display:flex;
}

.etc input[type='checkbox'] {
	width:20px;
	height:20px;
}
.etc button {
	width:60px;
	height:30px;
}

#table {
	max-height:30px;
	overflow-y:auto;
}
