#sortList {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#223c6f;
}

#sortList li {
	float:left;
}

#sortList li a {
	font-size:20px;
	display:block;
	color:white;
	text-align:center;
	padding:10px 20px;
	text-decoration:none;
}

#sortList li a:hover {
/*	font-size:24px;
	padding:8px 20px 7px 20px;*/
	background-color:#00184b;
}

table ,tr,td {
	border:solid 1px black;
	border-collapse:collapse;
}

td{
	padding:0;
}

li {
	list-style-type:none;
	text-align:left;
}

.name {
	font-weight:bold;
	font-size:24px;
}

.price {
	font-size:15px;
}

.type {
	font-size:12px;
}

.description {
	font-style:italic;
	font-size:15px;
}

td ul{
	padding:0px 10px;
}
td ul li {
	text-align:center;
}

iframe {
	float:left;
}

button:hover {
	cursor:pointer;
}
