:root {
	--header-color: #3a3a3a;
	--background-color: #5a5a5a;
	--background-hover-color: #3a3a3a;
	--default-color:#aaa;
}

#sortList {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: var(--background-color);
}
/*
#sortList li {
	float:left;
}
*/
#sortList li a {
	font-size:20px;
	display:block;
	color:white;
	text-align:center;
	padding:10px 20px;
	text-decoration:none;
}

#sortList li a:hover {
/*	font-size:24px;
	padding:8px 20px 7px 20px;*/
	background-color: var(--background-hover-color);
}

table ,tr,td {
	border:1px black none;
	border-collapse:collapse;
	background-color:var(--default-color);
}

td{
	padding:0;
}

li {
	list-style-type:none;
	text-align:left;
}

.name {
	font-weight:bold;
	font-size:24px;
}

.price {
	font-size:15px;
}

.type {
	font-size:12px;
}

.description {
	font-style:italic;
	font-size:15px;
}

td ul{
	padding:0px 10px;
}
td ul li {
	text-align:center;
}

iframe {
	float:left;
}

button:hover {
	cursor:pointer;
}




.sort_br {
	background-color: var(--background-color);
	color:white;
	height:40px;
	font-size:30px;
	padding:10px;
	font-weight:bold;
	text-align:center;
}





body {
	display:flex;
	flex-direction:column;
}

header {
	background-color: var(--header-color);
	color:white;
	text-align:center;
	font-size:50px;
	padding:10px;
	font-weight:bold;
}

footer {
	background-color: var(--header-color);
	color:white;
	text-align:right;
	font-style:italic;
	font-size:12px;
	padding:3px 20px;
}

#main {
	display:flex;
	height:786px;
	flex-direction:row;
}

#sort-selection{
	flex:1;
	display:flex;
}

#main-content {
	width:967px;
	display:flex;
	flex-direction:column;
}

#chat {
	flex:3;
	display:flex;
}

#menu-list {
	flex:7;
	overflow-y:scroll;
}

#order-list {
	flex:3;
	display:flex;
	overflow-y:scroll;
}

.fill {
	flex:1;
}
